@{
    ViewData["Title"] = "RST rules";
}

<div class="text-justify">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>
        Naslov moje strani je @ViewData["Title"].
    </h2>
    <h3>
        Povezava na <a asp-controller="Home" asp-action="Tiles">prvo stran</a>!
    </h3>
    <h3>
        Povezava na <a asp-controller="Home" asp-action="DynamicTiles">dinamično stran</a>!
    </h3>
</div>
