@{
    ViewData["Title"] = "MVC Index";
}

<div class="text-justify">
    <h1>
        @ViewData["Title"]
    </h1>
    <h2>
        Povezava na <a asp-controller="Home" asp-action="Tiles">prvo stran</a>!
    </h2>
    <h2>
        Povezava na <a asp-controller="Home" asp-action="DynamicTiles">dinamično stran</a>!
    </h2>
    <h2>
        Povezava na <a asp-controller="Home" asp-action="DatabaseTiles">ploščice iz baze</a>!
    </h2>
</div>
