:root {
    --bgrColorFootHead: #22bb90;
}


html {
    border: solid 0 green;
    font-size: 16px;
}

body {
    border: solid 2px red;
    margin: 0;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap; /* https://www.w3schools.com/css/css3_flexbox_container.asp */
    box-sizing: border-box;    
}

@media (max-width: 1000px)
{
    html {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 32px;
    }
}

header, footer {
    border: solid 1px black;
    background-color: var(--bgrColorFootHead);
    width: 100%;
}

footer {
    margin-top: auto;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-height: 500px){
    footer {
        display: none;
    }
}

nav {
    display: flex;
    justify-content: center;
    font-size: 4vw;
}

@media (max-width: 600px){
    nav {
        font-size: 3vmax;
    }
}

    nav > ul {
        list-style: none;
        font-weight: 600;
    }

        nav > ul > li {
            display: inline;
            padding: 0 20px;
        }

.img-aside {
    width: 100%;
}

.main-content {
    flex: 1;
}

aside {
    flex: 0.5;
}